/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #754f44;
  /* color: white; */
}
/* body {
  position: relative;
  min-height: 95vh;
  background: rgb(154, 109, 139);
  background: linear-gradient(97deg, rgb(207, 113, 150) rgb(104, 62, 80)) 74%);
} */
.bg-card {
  background-color: #f5cb5c;
}

/* nav bar */
.logo {
  color: #e2e6b0;
  font-weight: bold;
}

.profil-img {
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

/* avatars */
.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* hidde the check btn */
input[type="radio"] {
  display: none;
}
/* display image for each checkbox input */
input#avatar1[type="radio"] + label {
  background-image: url("https://i.imgur.com/aQHVLIP.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  display: inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

input#avatar2[type="radio"] + label {
  background-image: url("https://i.imgur.com/nyLuzzQ.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  display: inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

input#avatar3[type="radio"] + label {
  background-image: url("https://i.imgur.com/Kj5D6T9.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  display: inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

input#avatar4[type="radio"] + label {
  background-image: url("https://i.imgur.com/ApdCIdy.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  display: inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

input#avatar5[type="radio"] + label {
  background-image: url("https://i.imgur.com/DjHQrcI.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  display: inline-block;
  padding: 0 0 0 0px;
  cursor: pointer;
}

/* check effect whne selecting an avatar */
input#avatar1[type="radio"]:checked + label {
  opacity: 0.5;
}
input#avatar2[type="radio"]:checked + label {
  opacity: 0.5;
}
input#avatar3[type="radio"]:checked + label {
  opacity: 0.5;
}
input#avatar4[type="radio"]:checked + label {
  opacity: 0.5;
}
input#avatar5[type="radio"]:checked + label {
  opacity: 0.5;
}
